{% extends "page.html" %}

{% block subtitle %}Articles{% endblock %}

{% block breadcrumb_content %}
  <li class="active"><a class"active" href="/articles">Blogs</a></li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1>Create a New Blog</h1>
      <form id="createNewBlog" method="POST" enctype="multipart/form-data" action="/articles/save-new">
        <div class="form-group control-full">       
		<label class="control-label" for="field-title">Title</label>
        	<input type="text" class="form-control" name="title" id="field-title" placeholder="Please enter your title" required="required"/>
        </div>
	<div class="form-group control-full">
		<label class="control-label" for="field-notes">Content</label>
		<div class="controls editor">
			<textarea id="field-notes" name="notes" cols="20" rows="30" placeholder="Please enter your content" class="form-control" required="required"></textarea>
                       <span class="editor-info-block"><a href="#markdown" title="" data-target="popover" data-content="<pre><p>__Bold text__ or _italic text_</p><p># title<br>## secondary title<br>### etc</p><p>* list<br>* of<br>* items</p><p>http://auto.link.ed/</p></pre><p><b><a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Full markdown syntax</a></b></p><p class='text-muted'><b>Please note:</b> HTML tags are stripped out for security reasons</p>" data-html="true" data-original-title="Markdown quick reference">Markdown formatting</a>을 사용할 수 있습니다</span>
		</div>
	</div>
        <div class="form-actions">
             <button class="btn btn-primary" type="submit" name="save"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Create Blog</font></font></button>
	</div>
      </form>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
     {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> What is Blog?</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A CKAN Blog is a collection of data resources (such as files),
          together with a description and other information, at a fixed URL.
          Blogs are what users see when searching for data.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}
