{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}
   Article Management
{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_showcase_create') %}
    <div class="page_primary_action">
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': h.facet_remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}

{% block package_search_results_list %}
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}
