<div role="main">
  <div class="container">
    <div class="row row1 margin-t-40 margin-b-40">
      <div class="col-md-6"> 
	<img src="http://www.healthcarebigdata.kr/epharos/img/main/slider-img-01.png" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="introduction margin-b-60">
           <h1>보건의료 데이터 포털 소개</h1>
           <p>보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개
		   </p>
        </div>
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgb(40, 40, 40); color:#FFF;">
  <div class="container" style="padding:50px 0px; text-align:center; font-size:24px;">
	<div class="row" style="margin:auto">
		<div class="col-md-4"> 
			<p class="information">전체데이터셋</p>
			<span><strong>{{ h.theme_organization_count() }}</strong> 건</span>
		</div>
		<div class="col-md-4"> 
			<p class="information">소속기관 데이터셋</p>
                        <span><strong>{{ h.theme_dataset_count() }}</strong> 건</span>
		</div>
		<div class="col-md-4">
			<p class="information">산하기관데이터셋</p>
                        <span><strong>{{ h.theme_agency_dataset_count() }}</strong> 건</span>
		</div>
	</div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
	<div class="panel">
	      	<div class="panel-heading" style="padding:20px 15px; font-size:24px; font-weight:bold;">보건의료 데이터 분류</div>
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class="active" id="tab1"><a class="nav-link" href="#1" data-toggle="tab">소속기관</a></li>
				<li id="tab2"><a class="nav-link" href="#2" data-toggle="tab">산하기관</a></li>
				<li id="tab3"><a class="nav-link" href="#3" data-toggle="tab">주제별분류</a></li>
				<li id="tab4"><a class="nav-link" href="#4" data-toggle="tab">타입별분류</a></li>
			</ul>
                	<div class="" id="tab-content">
			</div>
		</div>
	</div>
      </div>
      <div class="col-md-3" id="latest-news">
	<div class="panel">
		<div class="panel-heading" style="padding:20px 15px; font-size:24px; font-weight:bold;">공지사항</div>
		<div class="panel-body">
			<ul style="list-style-type: none; padding-left: 2em; text-indent: -2em;">
                             	{% for group in h.theme_most_popular_groups() %}
			      		<li>{{ group.display_name }}</li>
				{% endfor %}
				<li><a href="javascript:;">가나다라마바사</a><p>2017.10.20</p></li>
				<li><a href="javascript:;">가나다라마바사</a><p>2017.10.20</p></li>
				<li><a href="javascript:;">가나다라마바사</a><p>2017.10.20</p></li>
				<li><a href="javascript:;">가나다라마바사</a><p>2017.10.20</p></li>
				<li><a href="javascript:;">가나다라마바사</a><p>2017.10.20</p></li>
			</ul>
			<div style="margin-top:60px; text-align:right">
				<a href="javascript:;" style="font-size:14px;">공지사항 더보기</a>
			</div>
		</div>
	</div>
      </div>
    </div>
  </div>
</div>
