<div style="height:3px; background-color:#3498db;"></div>
<div role="main">
  <div class="container">
    <div class="row row1 margin-t-40 margin-b-40">
      <div class="col-md-6"> 
	<img src="http://www.healthcarebigdata.kr/epharos/img/main/slider-img-01.png" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="introduction margin-b-60">
           <h1>보건의료 데이터 포털 소개</h1>
           <p>보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개 보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개  보건의료 데이터 포털 소개
		   </p>
        </div>
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgb(40, 40, 40); color:#FFF;">
  <div class="container" style="padding:50px 0px; text-align:center; font-size:24px;">
	<div class="row" style="margin:auto">
		<div class="col-md-6"> 
			<p class="information">전체 데이터셋
			<span style="margin-left:20px; font-size:30px;"><strong>{{ h.theme_organization_count() }}</strong> </span>건</p>
		</div> 
		<div class="col-md-6"> 
			<p class="information">소속기관 데이터셋
            <span style="margin-left:20px; font-size:30px;"><strong>{{ h.theme_dataset_count() }}</strong> </span>건</p>
		</div>
	</div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
	<div class="panel">
	      	<div class="panel-heading" style="padding:20px 15px; font-size:20px; font-weight:bold;">보건의료 데이터 분류</div>
		<div class="panel-body">
			<ul class="nav nav-tabs" style="font-size: 14px;">
				<li class="active" id="tab1"><a class="nav-link" href="#1" data-toggle="tab">소속기관별 분류</a></li>
				<li id="tab2"><a class="nav-link" href="#3" data-toggle="tab">주제별 분류</a></li>
			</ul>
            <div class="" id="tab-content" style="margin-top: 20px;"></div>
		</div>
	</div>
      </div>
      <div class="col-md-3" id="latest-news">
	<div class="panel">
		<div class="panel-heading" style="padding:20px 15px 0px 15px; font-size:20px; font-weight:bold;">공지사항</div>
		<div class="panel-body">
			<ul style="list-style-type: none; padding-left:0px;">
                {% for article in h.theme_get_all_articles() %}
                <li style="padding:5px 0px 2px 0px; border-bottom: 1px solid #dadada; color: #4c4c4c;"><a href="/articles/{{ article.id }}">{{ h.markdown_extract(article.title, 30) }}</a><p>{{ article.created_date }}</p></li>
				{% endfor %}
			</ul>
			<div style="margin-top:20px; text-align:right">
				<a href="/articles" style="font-size:12px;">더보기</a>
			</div>
		</div>
	</div>
      </div>
    </div>
  </div>
</div>
