/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background-color: rgb(40, 40, 40);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.6);
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: black;
}

/* ========================================================================
   The main masthead bar that contains the site logo, nav links, and search
   ======================================================================== */

.masthead {
  background-color: #FFF;
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #000;
  text-shadow: none;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #3498db;
  color: #FFF;
}

.masthead .navigation .nav-pills li a:hover {
    background-color: rgb(48, 48, 48);
    color: #FFF
}

/* The "navigation pills" in the masthead (the links to Datasets,
   Organizations, etc) when the user's pointer hovers over them. */
.masthead .navigation .nav-pills li a:hover {
  background-color: rgb(48, 48, 48);
  color: #FFF;
}
/* The "active" navigation pill (for example, when you're on the /dataset page
   the "Datasets" link is active). */
.masthead .navigation .nav-pills li.active a {
  background-color: rgb(74, 74, 74);
}
/* The "box shadow" effect that appears around the search box when it
   has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}

.masthead .navigation .nav-pills li a {
  color: #777777;
  font-size: 16px;
  font-weight: bold;
}

.navbar-right {
  color: #000;
}

.header-image img {
 padding-top:10px;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
.box {
  box-shadow: none;
}
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
   boxes. */
.hero .box {
  border: none;
}
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
  color: rgb(68, 68, 68);
  background-color: white;
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags{
  background-color: #3498db;
}


/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
   and "Search Your Data" boxes line up. */
.module-content:last-child {
  padding-bottom: 0px;
}
.homepage .module-search {
  padding: 0px;
}
/* Add a border line between the top and bottom halves of the front page. */
.homepage [role="main"] {
  border-top: 1px solid rgb(204, 204, 204);
}


/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer {
  background-color: rgb(40, 40, 40);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.6);
}
/* The link texts in the footer. */
.site-footer a {
  color: rgba(255, 255, 255, 0.6);
}

/* The latest-news */
#latest-news li a {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
#latest-news li p {
  font-size: 14px;
}

#tab-content .item{
  border:1px solid #d2d2d2;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 14px; 
  text-align: center;
  border-radius: 4px 4px 4px 4px;
  color: #ccc;
}
#tab-content a{
  color: #777777;
}
.nav-tabs > li > a {
  font-size: 14px;
}
#sub-menu{
	background-color:#3498db; 
	padding:10px 0px;
}
#sub-menu a{
	color: #FFF;
	font-weight: bold;
        font-size: 16px;
}

#sub-menu a:hover, #sub-menu a:active{
	color: #000;
	font-weight: bold;
}

#sub-menu-caret {
	background-color:#3498db;
	position: relative; 
	z-index: 10000;
}
#sub-menu-caret:before { 
	content: ''; 
        height: 0; 
	position: absolute; 
	top: 11px; 
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #3498db; 
	left: 110px;
}

.wrapper {
	padding-bottom: 100px;
}



/*  Seung-Hyun Custom CSS . Start */

@media (min-width: 768px) {
  [role=main],
  .main {
    padding-top: 10px;
    background: #f2f2f2 ;
  }
}

.masthead {
  margin-bottom: initial;
  padding: 10px 0;
  color: #fff;
  background: #fff;
}

.margin-t-40 {
	margin-top: 40px;
}

.margin-b-40 {
	margin-bottom: 40px;
}

.margin-t-60 {
	margin-top: 60px;
}

.margin-b-60 {
	margin-bottom: 60px;
}

.masthead input[type="text"] {
    border-color: #ccc;
}

.homepage .module-search .search-giant input {
    border-color: #ccc;
}

.search-form .search-input.search-giant input {
  font-size: 16px;
  padding: 15px;
}
/*  Seung-Hyun Custom CSS . End */

.account-masthead {
    margin-right: 0px;
}

.truncate {
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: none;
	background-color: #f2f2f2;

}

/* Homepage Organization Section*/
#organizations img{
    height: 100px;
    width: 100px;
}

#organizations .row {
    padding: 30px; 0px;
}

#organizations .logos{
    text-align: center;
}

#organizations .logos p{
    padding: 10px 0px;
    font-weight: bold;
    color: black;
}

#recent h1{
    border-bottom: 1px solid #3498db;
}

.classWithPad { margin:10px; padding:10px; }

