{% ckan_extends %}

{% block header_account_notlogged %}
        <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
        {% endif %} 
{% endblock %}

{% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
	  <li><a href="/">Home</a></li>
          <li><a href="/dataset" id="datasets">데이터셋</a></li>
	  <li><a href="/showcase">데이터신청</a></li>
          <li><a href="/usage">데이터이용안내</a></li>
          <li><a href="/about">사이트소개</a></li>
        </ul>
        <span id="sub-menu-caret" style="display:none;"></span>
      </nav>
{% endblock %}
