{% ckan_extends %}

{% block header_account_notlogged %}
	<li><a href="/sitemap">사이트맵</a></li>
        <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
        {% endif %} 
{% endblock %}

{% block header_site_navigation %}
      <nav class="section navigation">
        <ul class="nav nav-pills">
	  <li><a href="/">Home</a></li>
          <li><a href="javascript:;" id="datasets">데이터셋</a></li>
	  <li><a href="javascript:;">제공신청</a></li>
          <li><a href="javascript:;">정보공유</a></li>
          <li><a href="javascript:;">이용안내</a></li>
        </ul>
        <span id="sub-menu-caret" style="display:none;"></span>
      </nav>
{% endblock %}
